#visible-eye,
#hidden-eye {
  cursor: pointer;
}

#visible-eye svg,
#hidden-eye svg {
  fill: rgba(0, 0, 0, 0.5);
}

#visible-eye svg:hover,
#visible-eye svg:focus,
#hidden-eye svg:hover,
#hidden-eye svg:focus {
  fill: rgba(0, 0, 0, 0.8);
}
